################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
vcpkg_installed/
LuauLayer/
Release/
Debug/
/LuauLayer.vcxproj.filters
/LuauLayer.vcxproj.user
